* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100vh;
    grid-gap: 20px;
    background-color: rgb(244, 179, 139);
}

.img-content {
    border-radius: 20px;
    height: calc(100vh - 8%);
    overflow: hidden;
    width: 94%;
    margin: 4% 2% 4% 4%;
}

.img-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-content {
    display: flex;
    width: 94%;
    margin: 4% 4% 4% 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: calc(100vh - 8%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-content {
    display: grid;
    width: 60%;
    text-align: center;
}
.login-content h2{
    text-align: left;
    margin-bottom: 20px;
    

}

.password-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.password-container .form-control {
    width: 100%;
    padding-right: 40px; /* Ensure space for the icon */
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.6;
}
.text-content button {
    margin: 20px 0px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #1fcfb1;
    color: black;
    cursor: pointer;
    font-size: 16px;
  }

  .line-container {
    display: flex;
    position: relative;
    width: 100%;
    align-content: center;
    margin-bottom: 20px;

}
.line {
    flex: 1;
    border-bottom: 0.5px solid rgb(110, 109, 109);
}
.text {
    margin: 0 10px;
    white-space: nowrap;
}

.google-content{
    display: flex;
    position: relative;
    width: 120px;
    height: 30px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px 35%;
    background-color: rgb(205, 209, 215);

}
.google-content p{
    margin-top: 15px;
}
.google-content img{
    width: 20px;
    height: 20px;
}
.signup-text {
    text-decoration: none;
    color: black;
  }